@font-face {
  font-family: "Gensco";
  src: url("@/assets/fonts/GENSCO.otf");
}
@font-face {
  font-family: "Director2";
  src: url(@/assets/fonts/degheest/Director-bold.ttf);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ffffff;
}

h1 {
  font-family: "director2";
  font-size: 9.5rem;
  color: #000000;
  text-align: center;
  line-height: 1em;
}

p.photo-label{
    font-family: "director2";
    font-size: 1rem;
    color: #000000;
    text-align: center;
    line-height: 1em;
}
